<div class="container">
  <div class="row">
    <app-formulario (productoCreado)="onProductoCreado($event)"></app-formulario>
  </div>
  <div class="row">
    <h3>Productos Seleccionados</h3>
    <app-lista-productos [productos]="productosSeleccionados" textoBoton="Comprar"
      (productoComprado)="onProductoComprado($event)"></app-lista-productos>
    <h3>Productos Comprados</h3>
    <app-lista-productos [productos]="productosComprados" textoBoton="Quitar"
      (productoComprado)="onProductoNoComprado($event)"></app-lista-productos>
  </div>
</div>